.text-red {color:red}
.text-blue {color:blue}
.text-white {color:#FFFFFF }
* {font-family:'Nanum Barun Gothic';}

.my-column {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
.my-column-in{
	padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.my-column-check{
	padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.my-column-unit{
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-right: 1px;
}
.inner-content {
    background: #eee;
    border: #999;
    border-radius: 5px;
    padding: 2px;
}

#bbs {
	font-size: 13px;
	font-style: normal;
}
#bbs > tbody > tr > td > a {
	color : #1061A6;
}
#bbs > tbody > tr > td > a:HOVER, #bbs > tbody > tr > td > a:ACTIVE {
	color: #C00;
}
.pager li > a, .pager li > span {
    display: inline-block;
    padding: 2px 7px;
    background-color: #FFF;
    border: 1px solid #BBB;
    border-radius: 3px;
    font-size: 12px;
}
.pager li.active a {
	z-index: 2;
    color: #FFF;
    background-color: #428BCA;
    border-color: #428BCA;
}
.pager li.previous a , .pager li.next a {
	color: #000;
	font-size: 13px;
}

.table-noline > tbody > tr > td {
	border-top: 0px;
} 
.table-reply > thead > tr > th {
	color: #999;
}
.table {
	margin-bottom: 5px;
}

body {
	padding-bottom: 60px;
}

