
.form-signin {
	max-width: 640px;
	margin: 0 auto;
}
.form-signin h4 {
	margin-top: 15px;
	margin-bottom: 1px;
}
.form-signin h4 {
	margin-bottom: 1px;
}

.form-signin-col {
	padding-right: 1px;
	padding-left: 1px;
}