<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Mpick</display-name>
	
	<servlet>
		<servlet-name>ControlConfirm</servlet-name>
		<servlet-class>mpick.ctrl.Confirm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControlConfirm</servlet-name>
		<url-pattern>/Control/Confirm/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControlMpickAjax</servlet-name>
		<servlet-class>mpick.ctrl.MpickAjax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControlMpickAjax</servlet-name>
		<url-pattern>/Control/MpickAjax/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControlSignin</servlet-name>
		<servlet-class>mpick.ctrl.Signin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControlSignin</servlet-name>
		<url-pattern>/Control/Signin/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControlReady</servlet-name>
		<servlet-class>mpick.ctrl.Ready</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControlReady</servlet-name>
		<url-pattern>/Control/Ready/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControlModify</servlet-name>
		<servlet-class>mpick.ctrl.Modify</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControlModify</servlet-name>
		<url-pattern>/Control/Modify/*</url-pattern>
	</servlet-mapping>
	
	<!-- Calculator 관련 페이지 시작 -->
	<servlet>
		<servlet-name>CalcFee</servlet-name>
		<servlet-class>mpick.pages.Calculator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalcFee</servlet-name>
		<url-pattern>/Calc/Fee/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CalcTax</servlet-name>
		<servlet-class>mpick.pages.Calculator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalcTax</servlet-name>
		<url-pattern>/Calc/Tax/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CalcTrans</servlet-name>
		<servlet-class>mpick.pages.Calculator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalcTrans</servlet-name>
		<url-pattern>/Calc/Trans/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CalcVolume</servlet-name>
		<servlet-class>mpick.pages.Calculator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalcVolume</servlet-name>
		<url-pattern>/Calc/Volume/*</url-pattern>
	</servlet-mapping>
	<!-- Calculator 관련 페이지 끝 -->
	
	<!-- Encyclopedia 관련 페이지 시작 -->
	<servlet>
		<servlet-name>Encl</servlet-name>
		<servlet-class>mpick.pages.Encyclopedia</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Encl</servlet-name>
		<url-pattern>/Encl/*</url-pattern>
	</servlet-mapping>
	
	<!-- Encyclopedia 관련 페이지 끝 -->
	
	<!-- Community 관련 페이지 시작 -->
	<servlet>
		<servlet-name>Comm</servlet-name>
		<servlet-class>mpick.pages.comm.Mypage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Comm</servlet-name>
		<url-pattern>/Comm/Mypage/*</url-pattern>
	</servlet-mapping>
	<!-- Community 관련 페이지 끝 -->
	
	<!-- Admin 관련 페이지 시작 -->
	<servlet>
		<servlet-name>AdminShip</servlet-name>
		<servlet-class>mpick.pages.Admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminShip</servlet-name>
		<url-pattern>/Admin/Ship/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminEncl</servlet-name>
		<servlet-class>mpick.pages.Admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEncl</servlet-name>
		<url-pattern>/Admin/Encl/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminComm</servlet-name>
		<servlet-class>mpick.pages.Admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminComm</servlet-name>
		<url-pattern>/Admin/Comm/*</url-pattern>
	</servlet-mapping>
	<!-- Admin 관련 페이지 끝 -->
	
	<servlet>
		<servlet-name>FileCtrl</servlet-name>
		<servlet-class>mpick.ctrl.FileCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileCtrl</servlet-name>
		<url-pattern>/Control/FileCtrl/*</url-pattern>
	</servlet-mapping>
	
</web-app>
