<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Mpick</display-name>
	
	<servlet>
		<servlet-name>Confirm</servlet-name>
		<servlet-class>mpick.auth.Confirm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Confirm</servlet-name>
		<url-pattern>/Confirm/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MpickAjax</servlet-name>
		<servlet-class>mpick.auth.MpickAjax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MpickAjax</servlet-name>
		<url-pattern>/MpickAjax/*</url-pattern>
	</servlet-mapping>
	
	<!-- Calculator 관련 페이지 시작 -->
	<!-- 
	<servlet>
		<servlet-name>Calc</servlet-name>
		<servlet-class>mpick.pages.Calc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Calc</servlet-name>
		<url-pattern>/Calc/*</url-pattern>
	</servlet-mapping>
	 -->
	<servlet>
		<servlet-name>CalcFee</servlet-name>
		<servlet-class>mpick.pages.calc.Fee</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalcFee</servlet-name>
		<url-pattern>/Calc/Fee/*</url-pattern>
	</servlet-mapping>
	<!-- Calculator 관련 페이지 끝 -->
	
	<!-- Encyclopedia 관련 페이지 시작 -->
	<servlet>
		<servlet-name>Encl</servlet-name>
		<servlet-class>mpick.pages.encl.Atoz</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Encl</servlet-name>
		<url-pattern>/Encl/Atoz</url-pattern>
	</servlet-mapping>
	<!-- Encyclopedia 관련 페이지 끝 -->
	
	<!-- Community 관련 페이지 시작 -->
	<servlet>
		<servlet-name>Comm</servlet-name>
		<servlet-class>mpick.pages.comm.Mypage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Comm</servlet-name>
		<url-pattern>/Comm/Mypage</url-pattern>
	</servlet-mapping>
	<!-- Community 관련 페이지 끝 -->
</web-app>
